@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="GameCtrl">
    <div id="scoreboard" class="jumbotron">
        <div class="col-xs-6">Dealer</div>
        <div class="col-xs-6">Player</div>
        <div class="col-xs-6">{{dealerRoundsWon}}</div>
        <div class="col-xs-6">{{playerOneRoundsWon}}</div>
    </div>
    @*Dealer Section*@
    <div class="well">
        <div id="dealerCards" class="row">
            <div ng-repeat="card in dealerCards">
                <div>Suit: {{card.suit}}</div>
                <div>Value: {{card.value}}</div>
                <div first="{{$first}}"></div>
            </div>
        </div>
    </div>
    @*Player One Section*@
    <div class="well">
        <div id="playerOneCards" class="row">
            <div ng-repeat="card in playerOneCards">
                <div>Suit: {{card.suit}}</div>
                <div>Value: {{card.value}}</div>
            </div>
        </div>
    </div>
    @*Controls Section*@
    <div class="well">
        <div id="controls" class="row">
            <div class="btn btn-warning btn-lg" ng-click="hit()">Hit</div>
            <div class="btn btn-success btn-lg" ng-click="stand()">Stand</div>
        </div>
    </div>
</div>